.nitro
.solid-start
.output
dist
app.config.timestamp_*.js
src/server/shared/engine/*.ts

.vite*
test-results
playwright-report

# dev artifacts
.local-storage

# Written by tests/e2e/global-setup.ts.
.e2e-manifest.json

stats.*

# SQLite databases and sidecar files.
*.db
*.db*
