.nitro
.solid-start
.output
dist
app.config.timestamp_*.js

.vite*
test-results
playwright-report

# Written by tests/e2e/global-setup.ts.
.e2e-manifest.json

stats.*

# SQLite databases and sidecar files.
*.db
*.db*
