.container {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 20px;
  justify-content: space-between;
  padding: 4px;
  padding-right: 0;
  position: relative;
  width: 100%;
}

.text {
  color: var(--foreground-secondary);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
}
