.aggregate {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.aggregateValue {
  color: var(--foreground);
  font-size: var(--t-font-size-xxl);
  font-variant-numeric: tabular-nums;
  font-weight: var(--t-font-weight-semi-bold);
}

.trend {
  align-items: center;
  display: flex;
  justify-content: center;
}

.trendValue {
  color: var(--foreground-secondary);
  font-size: var(--t-font-size-xs);
  font-variant-numeric: tabular-nums;
  font-weight: var(--t-font-weight-regular);
  margin-right: var(--t-spacing-2);
}

.trendIconUp {
  color: var(--color-turquoise-11);
}

.trendIconDown {
  color: var(--color-red-11);
}
