.block {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 56px;
  width: 100%;
  color: var(--foreground-tertiary);
}

.srOnly {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
