.group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.label {
  color: var(--foreground-tertiary);
  font-size: var(--font-size-label);
  font-weight: var(--font-weight-medium);
  padding: 8px 4px 4px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
