.root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  padding: var(--spacing-3);
}

.hero {
  align-items: center;
  display: flex;
  gap: var(--spacing-3);
}

.heroText {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}
