.root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  padding: var(--spacing-3);
}

.group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.item {
  align-items: center;
  display: flex;
  gap: var(--spacing-2);
  height: 28px;
}
