.state {
  color: var(--t-font-color-tertiary);
  font-size: var(--t-font-size-sm);
  padding: var(--t-spacing-6) var(--t-spacing-1);
}

.stateError {
  color: var(--color-red-11);
  font-size: var(--t-font-size-sm);
  padding: var(--t-spacing-6) var(--t-spacing-1);
}
