.panel {
  background: var(--background);
  border: 1px solid var(--border);
  border-radius: var(--panel-radius);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}
