.topBar {
  align-items: center;
  background: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: row;
  font-size: var(--font-size-heading-sm);
  gap: 8px;
  justify-content: space-between;
  min-height: 32px;
  padding-bottom: 12px;
  padding-left: 0;
  padding-right: 12px;
  padding-top: 12px;
}

.left {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 4px;
  overflow-x: hidden;
  width: 100%;
}

.iconAndTitle {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 4px;
  overflow: hidden;
  width: 100%;
}

.title {
  align-items: center;
  display: flex;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-medium);
  margin-right: 4px;
  overflow: hidden;
  width: 100%;
}

.actions {
  display: inline-flex;
  flex: 1 0 auto;
  gap: 8px;
}

.drawerExpandButton {
  align-items: center;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--foreground-secondary);
  display: inline-flex;
  flex-shrink: 0;
  height: 28px;
  justify-content: center;
  width: 28px;
}

.drawerExpandButton:hover {
  background: var(--bg-translucent);
  color: var(--foreground);
}

@media (max-width: 768px) {
  .topBar {
    padding-left: 12px;
  }

  .left {
    padding-left: 4px;
  }
}
