.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}

.scroll {
  background: var(--background);
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  overflow-y: auto;
  width: 100%;
}
