.wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  width: 100%;
}

.inputContainer {
  display: flex;
  flex: 1;
  align-items: center;
  gap: var(--spacing-1);
  box-sizing: border-box;
  height: 32px;
  padding: 0 var(--spacing-2);
  background-color: var(--background-transparent-lighter);
  border: 1px solid var(--border-medium);
  border-radius: var(--radius-md);
}

.inputContainer:focus-within {
  border-color: var(--color-blue);
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--foreground-light);
}

.inputContainer:focus-within .iconContainer {
  color: var(--foreground-secondary);
}

.input {
  flex: 1;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: var(--foreground);
  font-family: inherit;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
}

.input::placeholder {
  color: var(--foreground-light);
  font-weight: var(--font-weight-medium);
}
